<div class="sfx-layer-container " style=<%= containerStyle %>>
    <div class="sfx-layer-popup <%=movable %> <%=resizable %>" style=<%= popupStyle %>>
        <div class="_header">
            <div class="_title">
                안녕하세요.
            </div>
        </div>
        <div class="_body">
            <iframe class="_view" src=<%=src %>>

            </iframe>
        </div>
        
    </div>
</div>